<html>

<body bgcolor=#a3cfb4>

    <center>

        <h1>  PREDICTION :  </h1>
    
    {%if data == 0%}
    <h1>Iris-setosa</h1>  
    <img src='C:\Users\Admin\Documents\GitHub\dsft-jun23\6_Productivizacion\6_1-Flask\2-Clasificador_flores\static\setosa.jpg'>  

    {%else%}
    <h1>Iris-versicolor</h1>
    <img src='C:\Users\Admin\Documents\GitHub\dsft-jun23\6_Productivizacion\6_1-Flask\2-Clasificador_flores\static\verci.jpg'>
    
    {%endif%}

        <br><br>
    <a href='/'>go back to home page</a>

    </center>

</body>

</html>
